
@{
    ViewBag.Title = "Om os";
    Layout = "~/Views/Shared/_homepageBasis.cshtml";
}

<h2>Om os</h2>
<p>
    Denne webshop er lavet af 
</p>
<ul>
    <li>Chris</li>
    <li>Henrik</li>
    <li>Michael</li>
    <li>Stefan</li>
</ul>
